#company-logo-display {
	margin-top: -5px;
	background: white;

	ul {
		background: black;
	}

	li {
		@each $background, $value in $colours {
			&.#{$background} {
				background: $value;
				border-top: 3px solid darken($value, 10%);
			}
		}
		min-height: 100px;
		position: relative;
		color: $font-dark;

		flex: 0 0 100%;
		max-width: 100%;
		transform: translate(0%, 0%);
		transform: translate3d(0%, 0%);
		transition: $global-transition;
		@include large-screen-min {
			flex: 0 0 50%;
			max-width: 50%;
		}
		@include xLarge-screen-min {
			flex-basis: 0;
			flex-grow: 1;
			max-width: 100%;
		}

		.vertical-align {
			padding: 0px 7.5px;

			> * {
				float: left;
			}

			svg {
				width: 90px;
				height: 40px;
				margin-top: 7.5px;
				margin-right: 7.5px;
				padding-right: 6.5px;
				border-right: 1px solid rgba(0, 0, 0, 0.3);
			}

			.text {
				margin-top: 7.5px;
				width: calc(100% - 105px);
				font-size: 0.9em;

				span {
					width: 100%;
					display: block;
					font-weight: bold;
				}
			}
		}

		&:hover {
			transform: translate(0%, -20px);
			transform: translate3d(0%, -20px);
		}
	}
}
