.property_actions {
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-bottom: $universal-space;
	font-size: 15px;

	ul {
		display: flex;
		flex-wrap: wrap;
		padding: 0;

		li {
			flex: 0 0 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid $brand-gray;
			@include medium-screen-min {
				flex-basis: 0;
				flex-grow: 1;
				max-width: 300px;
				margin-left: $universal-space;
			}
			height: 50px;
			border-radius: $border-radius;
			position: relative;
			justify-content: center;
			flex-direction: column;
			text-indent: 0;
			transition: $link-transition;

			&:first-of-type {
				margin-left: 0;
			}

			&:before {
				display: none;
			}

			&:hover {
				box-shadow: $box-shadow;
				transform: translate(0px, -2px);
				cursor: pointer;
			}

			&.active {
				box-shadow: $box-shadow;
				transform: translate(0px, -2px);

				&.hover {
					box-shadow: none !important;
					transform: translate(0px, 0px);
				}
			}

			&[data-link='action-shortlist'] {
				display: none;
			}

			&[data-link='action-printable-brochure'] {
				display: none;
			}

			&.action-send-to-friend {
				display: none;
			}
		}
	}
}
